<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 扫描指定包下的文件 -->
	<context:component-scan base-package="com.beyang.cn"></context:component-scan>
	
	<!-- 导入资源文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 启动事务的注解 -->
	<tx:annotation-driven/>

	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		 <property name="user" value="${username}"></property>
		 <property name="password" value="${password}"></property>
		 <property name="driverClass" value="${driverClassName}"></property>
		 <property name="jdbcUrl" value="${jdbcUrl}"></property>
		 <property name="initialPoolSize" value="${initialPoolSize}"></property>
		 <property name="maxPoolSize" value="${maxPoolSize}"></property>
	</bean>
    
    <!-- 配置hibernate的SessionFactory实例：通过spring的LocalSesionFactoryBean进行配置 -->
    <!-- 
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		 关联数据源
		 <property name="dataSource" ref="dataSource"></property>
		 配置hibernate.cfg.xml文件的位置和名称
		 <property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		 实体类的配置（*.hbm.xml）或  类路径 的配置  
		 <property name="mappingLocations" value="classpath:com.beyang.cn.*.hbm.xml"></property>
	</bean> 
	-->
	
	<!-- 配置jdbcTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		 <property name="dataSource" ref="dataSource"></property>
	</bean>
	
</beans>
